
@font-face {
  font-family: 'Conv_NexaBold';
  src: url('fonts/NexaBold.eot');
  src: local('☺'), url('../fonts/NexaBold.woff') format('woff'), url('../fonts/NexaBold.ttf') format('truetype'), url('../fonts/NexaBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.nomeempresa {
    font-size: 4.5em;
    font-family: 'Conv_NexaBold'; 
}

.nomeempresa img {
    width: 430px;
    margin-bottom: 98px;
}

#masthead {
  min-height:116px;
  background-color:#2B3E50;
    color: #000000;
  margin-bottom: 20px;
}

#masthead h1 {
  font-size: 4.5em;
  font-family: 'Conv_NexaBold'; 
}

#masthead .well {
  margin-top:16%;
  background-color:#226622;
    border-color:#225522;
}

/*isso está deprecated*/
.rodape {
		width: 100%;
		text-align: center;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.icone-main {
  font-size: 42px;
  display: block;
  text-align: center;
  margin: 10px auto 20px;
}

.icone-fa-feedback {
  margin-top : 9px;
}

.top-buffer { margin-top:20px; }

.spacer-vertical120 {  margin-top: 120px; }
.spacer-vertical80 {  margin-top: 80px; }
.spacer-vertical40 {  margin-top: 40px; }
.spacer-vertical20 {  margin-top: 20px; }
.spacer-vertical10 {  margin-top: 10px; }

.botao-main {
  height: 130px;
  margin-bottom: 10px;
}

.label-botao-main {
/*   padding-bottom: 20px; */
  display: block;
}

.label-botao-main-duas-linhas {
  display: block;
}

.sched {
}

.sched THEAD TD {
  font-weight: bold;
}

.sched TD {
  text-align: center;
}


.schedbasic {
  min-height: 22px;
  line-height: 22px;
  display: block;
}

.divsched {
  min-height: 22px;
  line-height: 22px;
  display: block;
  cursor: pointer; cursor: hand;
}

.divschedsel {
  background-color: #A1FFFF;
}

.linkcelula {
  word-wrap:break-word;
}


.showOnXs {
  display : none;
}

.hideOnSm {
  display : inline;
}

.hideOnBg {
  display : none;
}


.logotipoimagem {
  max-height: 400px;  
}


@media (max-width: 700px) 
{
    .showOnXs
    {
        display : none;
    }
  
    .hideOnSm
    {
        display: none;
    }
    
    .hideOnBg
    {
        display: inline;
    }
    
    .logotipoimagem {
      max-height: 300px;  
      max-width: 400px;
    }
    
}



@media (max-width: 448px) 
{
    .showOnXs
    {
        display : inline;
    }
  
    .hideOnSm
    {
        display: none;
    }
    
    .hideOnBg
    {
        display: none;
    }
    
    .logotipoimagem {
      max-width: 100%;  
      max-width: 100%;
    }
}



.wrapper {
  min-height: 100%;
  height: auto !important; 
  height: 100%;
  margin: 0 auto 70px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 70px; /* .push must be the same height as .footer */
}


@media (max-width: 990px)
{
  
  .wrapper {
    min-height: 100%;
    height: auto !important; 
    height: 100%;
    margin: 0 auto 70px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
    height: 120px; /* .push must be the same height as .footer */
  }
  
}
 
 
body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
 
 
.player-body {
  padding-top: 0px !important;
  padding-bottom: 30px;
  height: 100%
}

@media (max-width: 767px)
{
  
  .wrapper {
    min-height: 100%;
    height: auto !important; 
    height: 100%;
    margin: 0 auto 70px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
    height: 220px; /* .push must be the same height as .footer */
  }
  
}
 



.footer-player {
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539); 
    background-repeat: no-repeat;     
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-width: 0 0 1px;
    border-radius: 0;
    display: block;
}



.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}




.player-mic-on {
  color : #FF2626;
  text-shadow: 1px 1px 1px #000000;
}

.player-mic-off {
  color : inherit;
  text-shadow: 1px 1px 1px #000000;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}