.rodape {
	padding: 2px 2px 2px 2px;
	position: relative;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	min-height: 25px;
	margin: 10px 0px 10px 0px;
	padding: 8px;
	width: 30%;
}

.menu {
	padding: 2px 2px 2px 2px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	min-height: 25px;
	margin: 10px 0px 10px 0px;
	padding: 8px;
	width: 26%;
}

.registros{
	text-align: left;
}

input[type=text] {
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

form {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	min-height: 30px;
	margin-bottom: 10px;
	padding: 10px;
}

body {
	font: 12px/1.7em 'Open Sans', arial, sans-serif;
}

.erro{
	font-style: italic;
	font-weight: bold;
	color: red;
}

.borda{
	padding: 5px 5px 5px 5px;
	border: 1px solid black;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.deployGridClass{
}

.deployGridClass thead th{
	text-align: left;
}

.deployGridClass tbody tr:nth-child(odd){
	background-color: #dfeffc	
}

.deployGridClass tbody tr:nth-child(even){
	/*background-color: #e3e3e3;*/
}

.rodape-wizard{
	padding: 2px 2px 2px 2px;
	position: relative;
	margin: 4px 1px 1px 1px;
}

select{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 2px 2px 2px;
	width: 220px;
}
